* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    font-size: 1cm;
    color: rgb(255,0,0);
}

header p {
    color: rgb(0,150,255);
}

div {
    margin-top: 20px;
    margin-left: 33px;
}

div ul li {
    margin-left: 33px;
}


.pierwszy {
    font-variant: discretionary-ligatures small-caps oldstyle-nums tabular-nums;
    text-indent: 30mm;
    line-height: 1cm;
    word-spacing: 12px;
    letter-spacing: 18mm;
    color:rgb(168, 62, 0);
    font-weight: 200;
    font-size: x-small;
}

.drugi {
    font-variant: discretionary-ligatures small-caps oldstyle-nums tabular-nums;
    text-indent: 30mm;
    line-height: 1cm;
    word-spacing: 12px;
    letter-spacing: 18mm;
    color:rgb(168, 76, 22);
    font-weight: 400;
    font-size: medium;
}

.trzeci {
    font-variant: discretionary-ligatures small-caps oldstyle-nums tabular-nums;
    text-indent: 30mm;
    line-height: 1cm;
    word-spacing: 12px;
    letter-spacing: 18mm;
    color:rgb(117, 52, 15);
    font-weight: 900;
    font-size: large;
}


.div {
    margin-top: 20px;
    margin-left: 33px;
}

.right {
    align-items: end;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.pierwszy-2 {
    color: crimson;
    font-variant: discretionary-ligatures small-caps oldstyle-nums tabular-nums;
    font-size: 16px;
    font-weight: 300;
    line-height: 1cm;
    word-spacing: 12px;
    letter-spacing: 2ex;
}

.drugi-2 {
    color: rosybrown;
    font-variant: discretionary-ligatures small-caps oldstyle-nums tabular-nums;
    font-size: 0.3in;
    font-weight: 600;
    line-height: 1cm;
    word-spacing: 12px;
    letter-spacing: 2ex;
}

.trzeci-2 {
    color: red;
    font-variant: discretionary-ligatures small-caps oldstyle-nums tabular-nums;
    font-size: 1em;
    font-weight: 800;
    line-height: 1cm;
    word-spacing: 12px;
    letter-spacing: 2ex;
}
