p {
    color: red;
    font-size: 22pt;
}

p#gruby_warkusz {
    font-weight: bold;
    color: green;
    font-size: 17pt;
}

#dlawszystkich_warkusz {
    color: yellow;
    font-size: 10pt;
    font-family: Arial;
}